.edit-title {
  text-align: center;
  color: #223B51;
}


  a{
  color: #223B51;
  }

.btn-primary {
    color: #fff;
    background-color: #223B51;
    border-color: #223B51;
}

.btn-danger {
    color: #fff;
    background-color: #a23131;
    border-color: #a23131;
}
