.profile-description h1 {
  text-align: center;
  color: #005792;
}

.profile-description {
  text-align: center;
  h1 {
    color: #223B51;
  }
}

.profile-photo {
  text-align: center;
  margin: 40px;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

