.profile-description h1 {
  text-align: center;
  color: #005792;
}

.profile-description {
  text-align: center;
  position: relative;
  h1 {
    color: #223B51;
  }
}

.profile-photo {
  text-align: center;
  margin: 40px;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.my-artwork {
  h3 {
    padding-left: 33px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.profile {
  margin: 0px 200px;
}

.delete-artwork {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
