h1 {
  font-weight: bold;
}

.wrapper {
  position: relative;
  background-color: white;
  min-height: 100vh;
  padding-top: 30px;
  h1{
    margin: 0;
  }
}

.info {
  position: absolute;
  bottom: 85px;
  right: 85px;
}

.image {
  position: relative;
  width: 50%;
}

.edit {
  position: absolute;
  bottom: 10px;
  right: 40px;
}
