.container {
  padding: 0px;
}

.wrapper {
  background-color: white;
  min-height: 100vh;
  padding-top: 10px;
  h1 {
    margin: 0;
    color: #223B51;
  }
}

.flex-booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.artwork-content {
  position: relative;
  width: 50%;
  h3 {
    margin-top: 12.5px;
    margin-bottom: -7.5px;
    text-align: center;
  }
}

.row-show {
  width: 50%;
}

.info-right {
  text-align:center;
  h5 {
    font-weight: bold;
  }
  h3 {
    margin :0px;
    color: #223B51;

  }
  a {
    color: #223B51;
    text-decoration: none !important;
  }

  a:hover {
    opacity: 0.8;
  }

  p {
    font-size: 13px;
    margin:0px;
    color: black;
  }
}

.align-center {
  text-align: center;
}

.edit {
  position: absolute;
  bottom: 20px;
  right: 45px;
  a {
    color: #223B51;
  }
}

.artwork-booking {
  // bottom: -90px;
  border:1px solid;
  // position: relative;
  margin: 40px;
  h2 {
    text-align: center;
    color: #223B51;
  }
}

  .btn {
    color: #fff;
    background-color: #223B51;
    border-color: #223B51;
    left: 60px;
  }


