<h1> Artworks </h1>

<ul>
<% @artworks.each do |artwork|  %>
  <li>
    <%= artwork.name  %>
    <%= artwork.photo %>
    <%= artwork.category %>
    <%= artwork.availability %>
  </li>
<% end %>
</ul>



