<h1> Artworks </h1>

<ul>
<% @artworks.each do |artwork|  %>
  <li>
    <%= artwork.name  %>
     <%= cl_image_tag artwork.photo, height: 300, width: 400, crop: :fill %>
    <%= artwork.category %>
    <%= artwork.availability %>
  </li>
<% end %>
</ul>



