<div class="container">

   <%@user.bookings.each do |booking|%>
    <% if booking.status == "pending" %>
      <h3>An host is interested about <%=  booking.artwork.name %> :</h3>
      <%= link_to 'accept', accept_booking_path(booking) %>
      <%= link_to 'decline', decline_booking_path(booking) %>

    <% elsif booking.status == "accepted" %>
      <h3>accepted!</h3>

    <%end %>
  <%end %>
</div>


