h1 {
  text-align: center;
}

.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transition: height 0.3s, box-shadow 0.3s;
  opacity: 0.9;
}

.card-height {
  height: 450px;
}

.cards {
  position: relative;
  border: 1px solid #f4f9f4;
  border-radius: 5px;
  box-shadow: 1px 1px #f4f9f4;
  margin: 0px 20px;
   .link {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background: black;
    opacity: 0;
    &:hover {
      // opacity: 0.9;
    }
  }
}

.container {
  background-color: white;
  padding: 40px 0px;
  margin-top: 40px;
}

.card:hover {
  height: 460px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
  opacity: 1;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: relative;
  bottom: 10px;
  left: 10px;
  height: 105px;
}

.card-description a {
  color: #005792;
  text-decoration: none;
  font-size: 16px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-description ul {
  list-style: none;
}

.card-description li {
  display: inline-flex;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  text-decoration: none;
}
.card-link:hover {
  opacity: 0.1;
}

.user-name {
  position: absolute;
  bottom: 0px;
  right: 13px;
}

