.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #41b1cc;
}
